*.zip
*-cache
*-bak
*.aux
*.bbl
*.toc
*.dvi
*.log
*.blg
*.swp
*.backup
*.out
*.pyc
*.npy
*.vrb
*.snm
*.nav
*.bak
.directory
.DS_Store
__MACOSX
*jou
*.log
*.str
_impact.cmd
*.jou
*.str
*.kicad_prl
build_proj_modified.tcl
.ipynb_checkpoints/
#Sigasi files
.project
.settings/
.library_mapping.xml
docs/build/*
fp-info-cache
.~lock*
sds_trace_data.dat
control/pynqctrl/vivado/NONE/
fobos_pynq.conf
pynq_conf.py
power_conf.csv
software/pynq-notebooks/foboslib
dut-cyclone10-10cl016-u256-backups
__pycache__
projects/
*.bit
*.hwh
*.vdi
software/notebooks/basic/fobosworkspace
